
@import '../../common-styles/variables.scss';

.top-banner {
  height: 50%;
  width: 100%;
  background: #fff;
  position: relative;
}
.background-text {
  color: $primary;
  opacity: .1;
  font-size: 350px;
  position: absolute;
  bottom: -85px;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}
